$fontpage: 'Montserrat';
$violet: rgba(196, 94, 211, 1);
$pink: rgba(251, 162, 184, 1);

@import url("./../font/Montserrat/stylesheet.css");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
  
/* HTML5 display-role reset for older browsers */
  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}
q {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
// scroll
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #fff;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}
/* Handle */
::-webkit-scrollbar-thumb {
    // background: #888;
    background: linear-gradient($violet 0.18%, $pink 99.86%);
    border-radius: 4px;
}
.promo {
    background-image: url(./../img/block-1-bg.jpg);
    // background: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 25px;
    max-width: 100%;
    overflow: hidden;
    .section-wrapper {
        padding-top: 130px;
        padding-bottom: 100px;
        position: relative;
        z-index: 20;
        .logo {
            position: absolute;
            right: 150px;
            top: 20px;
            width: 120px;
            img {
                max-width: 100%;
            }
        }
    }
    .flex-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        min-height: 670px;
        .info-col {
            width: 60%;
            .event-info {
                font-family: $fontpage;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 18px;
                color: #000000;
                padding-bottom: 40px;
            }
            .small-bold-text {
                font-family: $fontpage;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.3px;
                color: #000000;
                max-width: 460px;
                padding-bottom: 20px;
            }
            .promo-header {
                font-family: $fontpage;
                font-style: normal;
                font-weight: 800;
                font-size: 48px;
                line-height: 52px;
                letter-spacing: 0.2px;
                color: #000000;
                padding-bottom: 30px;
            }
            .small-text {
                font-family: $fontpage;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.3px;
                color: #000000;
                padding-bottom: 30px;
            }
            .promo-btn {
                background: linear-gradient(180deg, #C45ED3 0%, #FBA2B8 100%);
                border-radius: 10px;
                padding: 15px 15px;
                display: inline-block;
                .btn-row {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .icon-reward {
                        width: 55px;
                        height: 55px;
                        background: url(./../img/icon-reward.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    .btn-text {
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 18px;
                        letter-spacing: 0.3px;
                        color: #FFFFFF;
                        padding-left: 3px;
                    }
                }
            }
        }
        .form-col {
            width: 500px;
            padding-left: 30px;
            min-width: 500px;
            max-width: 100%;
            position: relative;
            .mandala-form-1 {
                width: 405px;
                height: 385px;
                background: url(./../img/block-1-mandala-2.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: 165px;
                left: -170px;
                z-index: 10;
            }
            .mandala-form-2 {
                width: 405px;
                height: 425px;
                background: url(./../img/block-1-mandala-3.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                top: -100px;
                right: -195px;
                z-index: 10;
            }
        }
        .form-wrapper {
            padding-left: 28px;
            padding-right: 28px;
            padding-top: 55px;
            background: #FFFFFF;
            box-shadow: 0px 15px 20px 5px rgba(41, 41, 42, 0.25);
            border-radius: 10px;
            position: relative;
            z-index: 50;
            .form-text {
                padding-bottom: 20px;
                p {
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                    color: #000000;
                    padding-bottom: 3px;
                    .pink-gradient {
                        background: linear-gradient(#C45ED3, #FBA2B8);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
            .form-group {
                &.has-error {
                    .input-text {
                        box-shadow: 0px 3px 6px 4px #c224248a;
                    }
                    .error-text {
                        opacity: 1;
                        padding-top: 15px;
                        padding-bottom: 10px;
                    }
                }
                .input-text {
                    width: 395px;
                    max-width: 100%;
                    background: #FFFFFF;
                    border: 1px solid #CED4DA;
                    box-sizing: border-box;
                    border-radius: 4px;
                    outline: none;
                    padding: 15px 12px;
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 19px;
                    color: #495057;
                }
                .error-text {
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 14px;
                    color: #fa6161;
                    opacity: 0;
                    transition: 0.3s ease-in;
                }
            }
            .btn-submit {
                width: 395px;
                max-width: 100%; 
            }
            .btn-wrapper {
                padding-bottom: 45px;
            }
            .bonus-text,
            .thank-you-hidden-text {
                max-width: 250px;
                font-family: $fontpage;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
            }
            .thank-you-hidden-text {
                display: none;
            }
            .bonus-text-wrapper {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-bottom: 160px;
            }
            .thank-you-text {
                display: none;
                padding-bottom: 45px;
                .thank-you-header {
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 38px;
                    line-height: 52px;
                    letter-spacing: 0.3px;
                    color: #000000;
                    padding-bottom: 50px;
                    padding-top: 50px;
                }
                p {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    color: #000000;
                    padding-bottom: 3px;
                }
            }
            .book-marina {
                position: absolute;
                bottom: 10px;
                left: -32px;
                height: 210px;
                width: 200px;
                background: url(./../img/book-marina.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .timer {
                background: #FFFFFF;
                box-shadow: 0px 15px 20px 5px rgba(41, 41, 42, 0.3);
                border-radius: 10px;
                padding: 20px 30px;
                display: flex;
                align-items: flex-start;
                justify-content: space-around;
                width: 278px;
                position: absolute;
                right: 50px;
                bottom: 50px;
                .item {
                    .value {
                        width: 50px;
                    }
                    .value,
                    .dotted {
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 36px;
                        line-height: 36px;
                        background: linear-gradient($pink, $violet);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    .label {
                        text-align: center;
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 14px;
                        padding-top: 10px;
                        color: #000000;
                    }
                }
            }
        }
    }
    .mandala {
        width: 220px;
        height: 390px;
        background: url(./../img/block-1-mandala-1.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: -10px;
        top: calc(50% - 190px);
        z-index: 10;
    }
    .flower {
        width: 163px;
        height: 277px;
        background: url(./../img/block-1-flower.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: -100px;
        left: 30%;
    }
}
.life {
    position: relative;
    .section-wrapper {
        padding-top: 90px;
        padding-bottom: 100px;
        z-index: 20;
    }
    .life-header {
        font-family: $fontpage;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 43px;
        text-align: center;
        color: #000000;
        padding-bottom: 70px;
    }
    .info-row {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        .info-col {
            width: 60%;
            padding-right: 25px;
            font-family: $fontpage;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: 0.3px;
            color: #000000;
            p {
                padding-bottom: 30px;
            }
            .checked-list {
                color: #5C5C5C;
            }
        }
        .picture-col {
            width: 40%;
            img {
                max-width: 100%;
            }
        }
    }
    .life-bg-1 {
        position: absolute;
        width: 185px;
        height: 375px;
        left: 0px;
        bottom: 10px;
        background: url(./../img/life-bg-1.svg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 10;
    }
    .life-flower-1 {
        position: absolute;
        width: 91px;
        height: 138px;
        right: 0px;
        bottom: 57px;
        background: url(./../img/life-flower-1.svg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 40;
    }
    .life-flower-2 {
        position: absolute;
        width: 226px;
        height: 268px;
        right: 0px;
        bottom: 140px;
        background: url(./../img/life-flower-2.svg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 40;
    }
}
.what-separated {
    padding-top: 130px;
    padding-bottom: 70px;
    background: url(./../img/what-separated-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .what-separated-header {
        font-family: $fontpage;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: #18191F;
        padding-bottom: 50px;
    }
    .what-separated-list {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        .item {
            width: 25%;
            min-width: 25%;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 35px;
            .icon {
                text-align: center;
                padding-bottom: 20px;
                img {
                    width: 48px;
                    height: 48px;
                    object-fit: contain;
                    object-position: center;
                }
            }
            .detail {
                font-family: $fontpage;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 21px;
                text-align: center;
                color: #18191F;
                max-width: 265px;
                margin: auto;
            }
        }
    }
    .mandala-1 {
        position: absolute;
        background: url(./../img/what-s-mandala-1.svg);
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
        width: 205px;
        height: 384px;
        bottom: 35px;
        left: 0px;
        z-index: 10;
    }
    .flower-1 {
        position: absolute;
        background: url(./../img/what-s-flower-1.svg);
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
        width: 207px;
        height: 228px;
        top: -85px;
        left: calc(50% - 100px);
        z-index: 10;
    }
    .flower-2 {
        position: absolute;
        background: url(./../img/what-s-flower-2.svg);
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
        width: 126px;
        height: 114px;
        top: -20px;
        left: 50%;
        z-index: 10;
    }
    .mandala-2 {
        position: absolute;
        background: url(./../img/what-s-mandala-2.svg);
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        width: 205px;
        height: 384px;
        right: 0px;
        z-index: 10;
        top: 78px;
    }
}
.marina-w-laptop {
    padding-top: 110px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 5px;
    .section-wrapper {
        padding-left: 280px;
        padding-right: 135px;
        max-width: none;
    }
    .pink-bg {
        padding-top: 66px;
        padding-bottom: 50px;
        background: linear-gradient(180deg, #D294E1 0%, #FBA2B8 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        position: relative;
        padding-left: 220px;
        padding-right: 200px;
        .pink-bg-content {
            max-width: 655px;
            margin: auto;
            font-family: $fontpage;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.3px;
            color: #FFFFFF;
            .quote-content {
                position: relative;
                &::before {
                    content: " ";
                    position: absolute;
                    width: 53px;
                    height: 45px;
                    top: -10px;
                    left: -65px;
                    background: url(./../img/quote-mark.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                &::after {
                    content: " ";
                    position: absolute;
                    width: 53px;
                    height: 45px;
                    bottom: -10px;
                    right: -53px;
                    background: url(./../img/quote-mark.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    transform: rotate(180deg);
                }
            }
            .marina-author {
                font-family: $fontpage;
                font-style: italic;
                font-weight: 600;
                font-size: 21px;
                line-height: 26px;
                text-align: right;
                color: #FFFFFF;
                padding-top: 25px;
            }
        }
        .mandala {
            position: absolute;
            top: calc(50% - 150px);
            right: -10px;
            width: 160px;
            height: 300px;
            background: url(./../img/block-1-mandala-1.svg);
            transform: rotate(180deg);
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .img-marina {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 490px;
        height: 400px;
        background: url(./../img/marina-with-laptop.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom left;
        z-index: 20;
    }
    .purple-oval {
        position: absolute;
        bottom: 55px;
        left: 0px;
        width: 206px;
        height: 230px;
        background: url(./../img/purple-oval.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 10; 
    }
}
.author {
    padding-top: 110px;
    padding-bottom: 60px;
    .author-header {
        font-family: $fontpage;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: #18191F;
        padding-bottom: 28px;
    }
    .author-text {
        font-family: $fontpage;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        text-align: center;
    }
    .author-row {
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .author-col {
            max-width: 45%;
            width: 400px;
            .picture-wrapper {
                width: 97px;
                height: 97px;
                background: url(./../img/icon-bg.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                .icon {
                    width: 54px;
                    height: 54px;
                    &.icon-lotus {
                        background: url(./../img/icon-lotus.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    &.icon-meditation {
                        background: url(./../img/icon-meditation.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
            }
            .description {
                padding-top: 5px;
                font-family: $fontpage;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                color: #000000;
            }
        }
    }
    .btn-wrapper {
        padding-top: 30px;            
        max-width: 395px;
        margin: auto;
    }
}
.checked-list {
    padding-left: 40px;
    li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 12px;
        &::before {
            content: " ";
            width: 32px;
            min-width: 32px;
            height: 32px;
            background: url(./../img/checked-list.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-right: 16px;
        }
        span {
            display: contents;
        }
    }
}
.btn-default {
    outline: none;
    text-decoration: none;
    background: linear-gradient(89.78deg, #C45ED3 0.18%, #FBA2B8 99.86%);
    border-radius: 4px;
    padding: 20px 25px;
    font-family: $fontpage;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    cursor: pointer;
}
.violet-text {
    color: $violet;
}
.pink-text {
    color: $pink;
}
.bold {
    font-weight: 700;
}
.section-wrapper {
    padding-left: 135px;
    padding-right: 150px;
    max-width: 1440px;
    margin: auto;
    position: relative;
    z-index: 20;
}
@media screen and (min-width: 1500px) {
    .promo .mandala {
        width: 280px;
        height: 490px;
    }
    .promo .flower {
        bottom: -130px;
        left: 33%;
    }
}
@media screen and (max-width: 1350px) {
    .marina-w-laptop .pink-bg .mandala {
        width: 120px;
    }
    .marina-w-laptop .pink-bg .pink-bg-content .quote-content {
        padding-bottom: 20px;
    }
    .marina-w-laptop .pink-bg .pink-bg-content .quote-content::after {
        right: -40px;
        bottom: -20px;
    }
    .marina-w-laptop .section-wrapper {
        padding-left: 250px;
        padding-right: 135px;
    }
    .marina-w-laptop .pink-bg {
        padding-right: 150px;
        padding-left: 200px;
    }
    .marina-w-laptop .img-marina {
        width: 440px;
        height: 380px;
    }
}
@media screen and (max-width: 1200px) {
    .section-wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }
    .marina-w-laptop .section-wrapper {
        padding-left: 170px;
        padding-right: 60px;
    }
    .marina-w-laptop .pink-bg {
        padding-right: 130px;
        padding-left: 230px;
    }
    .marina-w-laptop .img-marina {
        width: 400px;
        height: 350px;
    }
    .promo .section-wrapper .logo {
        right: 60px;
    }
    .promo .flex-row .info-col .promo-header {
        font-size: 32px;
        line-height: 36px;
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 992px) {
    .marina-w-laptop .pink-bg .pink-bg-content .quote-content::after {
        width: 25px;
        height: 25px;
        right: -25px;
        bottom: -20px;
    }
    .marina-w-laptop .pink-bg .pink-bg-content .quote-content::before {
        width: 25px;
        height: 25px;
        left: -35px;
        top: -20px;
    }
    .author .author-header {
        font-size: 38px;
        line-height: 42px;
    }
    .marina-w-laptop .section-wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }
    .marina-w-laptop .pink-bg {
        padding-right: 80px;
        padding-left: 340px;
        border-radius: 0px;
    }
    .marina-w-laptop .pink-bg .pink-bg-content {
        font-size: 16px;
        line-height: 22px;
    }
    .marina-w-laptop .img-marina {
        width: 340px;
        height: 300px;
    }
    .marina-w-laptop .pink-bg .mandala {
        right: -80px;
        width: 140px;
    }
    .marina-w-laptop .purple-oval {
        display: none;
    }
    .what-separated .what-separated-list .item {
        width: 33.3%;
        min-width: 33.3%;
    }
    .life .life-header {
        font-size: 32px;
        line-height: 38px;
        padding-bottom: 40px;
    }
    .life .section-wrapper {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .life .info-row .info-col,
    .life .info-row .picture-col {
        width: 50%;
    }
    .checked-list {
        padding-left: 15px;
    }
    .life .info-row .info-col p {
        padding-bottom: 20px;
    }
    .life .info-row .info-col {
        font-size: 16px;
        line-height: 18px;
        padding-right: 15px;
    }
    .checked-list li::before {
        margin-right: 10px;
    }
    .section-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
    .promo .section-wrapper .logo {
        right: 40px;
    }
    .promo .flex-row .info-col {
        .event-info {
            font-size: 14px;
            line-height: 18px;
            padding-bottom: 40px;
        }
        .small-bold-text {
            font-size: 14px;
            line-height: 18px;
            padding-bottom: 15px;
        }
        .small-text {
            font-size: 14px;
            line-height: 18px;
            padding-bottom: 15px; 
        }
    }
    .promo .flex-row .form-wrapper {
        padding-top: 35px;
        padding-left: 20px;
        padding-right: 20px;
        .form-text {
            padding-bottom: 15px;
            p {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    .promo .flex-row .form-col {
        width: 450px;
        min-width: 450px;
    }
    .promo .flex-row .form-wrapper .book-marina {
        left: -32px;
        height: 190px;
        width: 170px;
    }
    .promo .flex-row .form-wrapper .timer {
        right: 20px;
        bottom: 40px;
    }
}
@media screen and (max-width: 850px) {
    .promo .flex-row .form-col {
        width: 400px;
        min-width: 400px;
    }
    .promo .flex-row .form-wrapper .book-marina {
        left: -35px;
        height: 140px;
        width: 150px;
    }
    .promo .flex-row .form-wrapper .timer {
        right: 20px;
        bottom: 40px;
        width: 255px;
        padding: 15px 20px;
    }
    .promo .flex-row .form-wrapper .btn-wrapper {
        padding-bottom: 25px;
    }
}
@media screen and (max-width: 768px) {
    .marina-w-laptop .pink-bg .pink-bg-content .marina-author {
        font-size: 14px;
        line-height: 16px;
    }
    .author {
        padding-top: 60px;
        .author-header {
            font-size: 24px;
            line-height: 28px;
        }
        .author-text {
            font-size: 14px;
            line-height: 16px;
        }
    }
    .author .author-row .author-col .description {
        font-size: 14px;
        line-height: 16px;
    }
    .marina-w-laptop .pink-bg {
        padding-right: 60px;
        padding-left: 250px;
        border-radius: 0px;
    }
    .marina-w-laptop .pink-bg .pink-bg-content {
        font-size: 14px;
        line-height: 18px;
    }
    .marina-w-laptop .img-marina {
        width: 250px;
        height: 280px;
    }
    .marina-w-laptop .pink-bg .mandala {
        right: -100px;
    }
    .what-separated .mandala-1,
    .what-separated .mandala-2 {
        display: none;
    }
    .what-separated .what-separated-list .item {
        width: 50%;
        min-width: 50%;
    }
    .what-separated .what-separated-header {
        font-size: 32px;
        line-height: 36px;
        padding-bottom: 35px;
    }
    .life .info-row {
        flex-wrap: wrap;
        .info-col {
            width: 100%;
        }
        .picture-col {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .life .life-bg-1 {
        top: 80px;
        bottom: auto;
    }
    .life .life-header {
        font-size: 18px;
        line-height: 22px;
    }
    .life .info-row .info-col {
        font-size: 14px;
        line-height: 16px;
    }
    .promo {
        padding-top: 0px;
    }
    .promo .flex-row {
        flex-wrap: wrap;
        .info-col {
            width: 100%;
            padding-bottom: 40px;
        }
        .form-col {
            width: auto;
            padding-left: 0px;
        }
    }
    .promo .flex-row .form-wrapper .book-marina {
        left: -32px;
        height: 210px;
        width: 180px;
    }
    .promo .flex-row .form-wrapper .btn-wrapper {
        padding-bottom: 45px;
    }
    .promo .flex-row .form-wrapper .timer {
        right: 50px;
        bottom: 50px;
        width: 278px;
    }
    .promo .section-wrapper {
        padding-top: 60px;
    }
    .section-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }
    .life .life-flower-2 {
        bottom: 70px;
    }
    .life .life-flower-1 {
        bottom: 0px;
    }
}
@media screen and (max-width: 500px) {
    .marina-w-laptop .pink-bg .pink-bg-content .quote-content {
        padding-left: 15px;
        padding-right: 15px;
        &::before {
            width: 20px;
            height: 20px;
            top: -10px;
            left: -10px;
        }
        &::after {
            width: 20px;
            height: 20px;
            bottom: -10px;
            right: -5px;
        }
    }
    .what-separated .what-separated-list .item .detail {
        font-size: 14px;
    }
    .marina-w-laptop .pink-bg {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 350px;
    }
    .marina-w-laptop .pink-bg .pink-bg-content {
        font-size: 14px;
        line-height: 18px;
    }
    .marina-w-laptop .img-marina {
        width: 100%;
        height: 350px;
    }
    .marina-w-laptop .pink-bg .mandala {
        display: none;
    }
    .what-separated .what-separated-list .item {
        padding-left: 0px;
        padding-right: 0px;
        &:nth-child(2n + 1) {
            padding-right: 5px;
        }
        &:nth-child(2n) {
            padding-left: 5px;
        }
    }
    .checked-list {
        padding-left: 0px;
    }
    .checked-list li::before {
        width: 25px;
        height: 25px;
    }
    .life .life-flower-2 {
        bottom: 100px;
        width: 126px;
        height: 168px;
    }
    .life .life-flower-1 {
        bottom: 40px;
        width: 51px;
        height: 108px;
    }
    .promo .flex-row .form-col .mandala-form-1 {
        display: none;
    }
    .promo .flex-row .form-wrapper .thank-you-text .thank-you-header {
        font-size: 24px;
        line-height: 28px;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .section-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .promo .flex-row .form-col {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
    .promo .flex-row .form-wrapper .form-group .input-text,
    .promo .flex-row .form-wrapper .btn-submit {
        width: 100%;
    }
    .promo .flex-row .form-wrapper .book-marina {
        left: -32px;
        height: 150px;
        width: 161px;
    }
    .promo .flex-row .form-wrapper .timer {
        right: 20px;
        bottom: 40px;
        width: 255px;
        padding: 15px 20px;
    }
    .promo .flex-row .form-wrapper .btn-wrapper {
        padding-bottom: 25px;
    }
    .promo .flex-row .info-col .promo-header {
        font-size: 24px;
        line-height: 28px;
    }
    .promo .flex-row .info-col .promo-btn .btn-row .btn-text {
        font-size: 14px;
        line-height: 16px;
    }
    .promo .flex-row .info-col .promo-btn {
        padding: 10px 15px;
    }
    .promo .flex-row .form-wrapper .btn-submit {
        padding: 10px;
    }
    .promo .flex-row .form-wrapper .thank-you-text {
        padding-bottom: 0px;
    }
}
@media screen and (max-width: 400px) {
    .author .author-row {
        flex-direction: column;
        .author-col {
            width: 100%;
            max-width: 100%;
            padding-bottom: 15px;
        }
    }
    .what-separated .what-separated-list .item .detail {
        font-size: 12px;
        line-height: 18px;
    }
    .promo .flex-row .form-wrapper .thank-you-hidden-text {
        max-width: 100%;
    }
    .promo .flex-row .form-wrapper .timer {
        width: 210px;
        bottom: 35px;
        right: 30px;
        padding: 10px 15px;
    }
    .promo .flex-row .form-wrapper .timer .item .value,
    .promo .flex-row .form-wrapper .timer .item .dotted {
        font-size: 32px;
    }
    .promo .flex-row .form-wrapper .timer .item .label {
        font-size: 10px;
        padding-top: 5px;
    }
}
@media screen and (max-width: 350px) {
    .marina-w-laptop .pink-bg {
        padding-bottom: 300px;
    }
    .promo .flex-row .form-wrapper .timer {
        width: 180px;
        bottom: 35px;
        right: 8px;
        padding: 5px 15px;
    }
    .promo .flex-row .form-wrapper .timer .item .value,
    .promo .flex-row .form-wrapper .timer .item .dotted {
        font-size: 24px;
    }
    .promo .flex-row .form-wrapper .timer .item .value {
        width: 40px;
    }
}