@import url("./../font/Montserrat/stylesheet.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.18%, #c45ed3), color-stop(99.86%, #fba2b8));
  background: -webkit-linear-gradient(#c45ed3 0.18%, #fba2b8 99.86%);
  background: linear-gradient(#c45ed3 0.18%, #fba2b8 99.86%);
  border-radius: 4px;
}

.promo {
  background-image: url(./../img/block-1-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  padding-top: 25px;
  max-width: 100%;
  overflow: hidden;
}

.promo .section-wrapper {
  padding-top: 130px;
  padding-bottom: 100px;
  position: relative;
  z-index: 20;
}

.promo .section-wrapper .logo {
  position: absolute;
  right: 150px;
  top: 20px;
  width: 120px;
}

.promo .section-wrapper .logo img {
  max-width: 100%;
}

.promo .flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 670px;
}

.promo .flex-row .info-col {
  width: 60%;
}

.promo .flex-row .info-col .event-info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  padding-bottom: 40px;
}

.promo .flex-row .info-col .small-bold-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #000000;
  max-width: 460px;
  padding-bottom: 20px;
}

.promo .flex-row .info-col .promo-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: 0.2px;
  color: #000000;
  padding-bottom: 30px;
}

.promo .flex-row .info-col .small-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #000000;
  padding-bottom: 30px;
}

.promo .flex-row .info-col .promo-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#C45ED3), to(#FBA2B8));
  background: -webkit-linear-gradient(top, #C45ED3 0%, #FBA2B8 100%);
  background: -o-linear-gradient(top, #C45ED3 0%, #FBA2B8 100%);
  background: linear-gradient(180deg, #C45ED3 0%, #FBA2B8 100%);
  border-radius: 10px;
  padding: 15px 15px;
  display: inline-block;
}

.promo .flex-row .info-col .promo-btn .btn-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.promo .flex-row .info-col .promo-btn .btn-row .icon-reward {
  width: 55px;
  height: 55px;
  background: url(./../img/icon-reward.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.promo .flex-row .info-col .promo-btn .btn-row .btn-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  padding-left: 3px;
}

.promo .flex-row .form-col {
  width: 500px;
  padding-left: 30px;
  min-width: 500px;
  max-width: 100%;
  position: relative;
}

.promo .flex-row .form-col .mandala-form-1 {
  width: 405px;
  height: 385px;
  background: url(./../img/block-1-mandala-2.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  position: absolute;
  top: 165px;
  left: -170px;
  z-index: 10;
}

.promo .flex-row .form-col .mandala-form-2 {
  width: 405px;
  height: 425px;
  background: url(./../img/block-1-mandala-3.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  position: absolute;
  top: -100px;
  right: -195px;
  z-index: 10;
}

.promo .flex-row .form-wrapper {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 55px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15px 20px 5px rgba(41, 41, 42, 0.25);
          box-shadow: 0px 15px 20px 5px rgba(41, 41, 42, 0.25);
  border-radius: 10px;
  position: relative;
  z-index: 50;
}

.promo .flex-row .form-wrapper .form-text {
  padding-bottom: 20px;
}

.promo .flex-row .form-wrapper .form-text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 3px;
}

.promo .flex-row .form-wrapper .form-text p .pink-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#C45ED3), to(#FBA2B8));
  background: -webkit-linear-gradient(#C45ED3, #FBA2B8);
  background: -o-linear-gradient(#C45ED3, #FBA2B8);
  background: linear-gradient(#C45ED3, #FBA2B8);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.promo .flex-row .form-wrapper .form-group.has-error .input-text {
  -webkit-box-shadow: 0px 3px 6px 4px #c224248a;
          box-shadow: 0px 3px 6px 4px #c224248a;
}

.promo .flex-row .form-wrapper .form-group.has-error .error-text {
  opacity: 1;
  padding-top: 15px;
  padding-bottom: 10px;
}

.promo .flex-row .form-wrapper .form-group .input-text {
  width: 395px;
  max-width: 100%;
  background: #FFFFFF;
  border: 1px solid #CED4DA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding: 15px 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #495057;
}

.promo .flex-row .form-wrapper .form-group .error-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  color: #fa6161;
  opacity: 0;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.promo .flex-row .form-wrapper .btn-submit {
  width: 395px;
  max-width: 100%;
}

.promo .flex-row .form-wrapper .btn-wrapper {
  padding-bottom: 45px;
}

.promo .flex-row .form-wrapper .bonus-text,
.promo .flex-row .form-wrapper .thank-you-hidden-text {
  max-width: 250px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.promo .flex-row .form-wrapper .thank-you-hidden-text {
  display: none;
}

.promo .flex-row .form-wrapper .bonus-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 160px;
}

.promo .flex-row .form-wrapper .thank-you-text {
  display: none;
  padding-bottom: 45px;
}

.promo .flex-row .form-wrapper .thank-you-text .thank-you-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 52px;
  letter-spacing: 0.3px;
  color: #000000;
  padding-bottom: 50px;
  padding-top: 50px;
}

.promo .flex-row .form-wrapper .thank-you-text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 3px;
}

.promo .flex-row .form-wrapper .book-marina {
  position: absolute;
  bottom: 10px;
  left: -32px;
  height: 210px;
  width: 200px;
  background: url(./../img/book-marina.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.promo .flex-row .form-wrapper .timer {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15px 20px 5px rgba(41, 41, 42, 0.3);
          box-shadow: 0px 15px 20px 5px rgba(41, 41, 42, 0.3);
  border-radius: 10px;
  padding: 20px 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  width: 278px;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.promo .flex-row .form-wrapper .timer .item .value {
  width: 50px;
}

.promo .flex-row .form-wrapper .timer .item .value,
.promo .flex-row .form-wrapper .timer .item .dotted {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fba2b8), to(#c45ed3));
  background: -webkit-linear-gradient(#fba2b8, #c45ed3);
  background: -o-linear-gradient(#fba2b8, #c45ed3);
  background: linear-gradient(#fba2b8, #c45ed3);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.promo .flex-row .form-wrapper .timer .item .label {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  padding-top: 10px;
  color: #000000;
}

.promo .mandala {
  width: 220px;
  height: 390px;
  background: url(./../img/block-1-mandala-1.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  position: absolute;
  left: -10px;
  top: calc(50% - 190px);
  z-index: 10;
}

.promo .flower {
  width: 163px;
  height: 277px;
  background: url(./../img/block-1-flower.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  position: absolute;
  bottom: -100px;
  left: 30%;
}

.life {
  position: relative;
}

.life .section-wrapper {
  padding-top: 90px;
  padding-bottom: 100px;
  z-index: 20;
}

.life .life-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 43px;
  text-align: center;
  color: #000000;
  padding-bottom: 70px;
}

.life .info-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.life .info-row .info-col {
  width: 60%;
  padding-right: 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.3px;
  color: #000000;
}

.life .info-row .info-col p {
  padding-bottom: 30px;
}

.life .info-row .info-col .checked-list {
  color: #5C5C5C;
}

.life .info-row .picture-col {
  width: 40%;
}

.life .info-row .picture-col img {
  max-width: 100%;
}

.life .life-bg-1 {
  position: absolute;
  width: 185px;
  height: 375px;
  left: 0px;
  bottom: 10px;
  background: url(./../img/life-bg-1.svg);
  background-position: left;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  z-index: 10;
}

.life .life-flower-1 {
  position: absolute;
  width: 91px;
  height: 138px;
  right: 0px;
  bottom: 57px;
  background: url(./../img/life-flower-1.svg);
  background-position: right;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  z-index: 40;
}

.life .life-flower-2 {
  position: absolute;
  width: 226px;
  height: 268px;
  right: 0px;
  bottom: 140px;
  background: url(./../img/life-flower-2.svg);
  background-position: right;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  z-index: 40;
}

.what-separated {
  padding-top: 130px;
  padding-bottom: 70px;
  background: url(./../img/what-separated-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
}

.what-separated .what-separated-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #18191F;
  padding-bottom: 50px;
}

.what-separated .what-separated-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.what-separated .what-separated-list .item {
  width: 25%;
  min-width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 35px;
}

.what-separated .what-separated-list .item .icon {
  text-align: center;
  padding-bottom: 20px;
}

.what-separated .what-separated-list .item .icon img {
  width: 48px;
  height: 48px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.what-separated .what-separated-list .item .detail {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #18191F;
  max-width: 265px;
  margin: auto;
}

.what-separated .mandala-1 {
  position: absolute;
  background: url(./../img/what-s-mandala-1.svg);
  background-position: left;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  width: 205px;
  height: 384px;
  bottom: 35px;
  left: 0px;
  z-index: 10;
}

.what-separated .flower-1 {
  position: absolute;
  background: url(./../img/what-s-flower-1.svg);
  background-position: left;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  width: 207px;
  height: 228px;
  top: -85px;
  left: calc(50% - 100px);
  z-index: 10;
}

.what-separated .flower-2 {
  position: absolute;
  background: url(./../img/what-s-flower-2.svg);
  background-position: left;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  width: 126px;
  height: 114px;
  top: -20px;
  left: 50%;
  z-index: 10;
}

.what-separated .mandala-2 {
  position: absolute;
  background: url(./../img/what-s-mandala-2.svg);
  background-position: right;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  width: 205px;
  height: 384px;
  right: 0px;
  z-index: 10;
  top: 78px;
}

.marina-w-laptop {
  padding-top: 110px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 5px;
}

.marina-w-laptop .section-wrapper {
  padding-left: 280px;
  padding-right: 135px;
  max-width: none;
}

.marina-w-laptop .pink-bg {
  padding-top: 66px;
  padding-bottom: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#D294E1), to(#FBA2B8));
  background: -webkit-linear-gradient(top, #D294E1 0%, #FBA2B8 100%);
  background: -o-linear-gradient(top, #D294E1 0%, #FBA2B8 100%);
  background: linear-gradient(180deg, #D294E1 0%, #FBA2B8 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  padding-left: 220px;
  padding-right: 200px;
}

.marina-w-laptop .pink-bg .pink-bg-content {
  max-width: 655px;
  margin: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}

.marina-w-laptop .pink-bg .pink-bg-content .quote-content {
  position: relative;
}

.marina-w-laptop .pink-bg .pink-bg-content .quote-content::before {
  content: " ";
  position: absolute;
  width: 53px;
  height: 45px;
  top: -10px;
  left: -65px;
  background: url(./../img/quote-mark.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.marina-w-laptop .pink-bg .pink-bg-content .quote-content::after {
  content: " ";
  position: absolute;
  width: 53px;
  height: 45px;
  bottom: -10px;
  right: -53px;
  background: url(./../img/quote-mark.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.marina-w-laptop .pink-bg .pink-bg-content .marina-author {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  text-align: right;
  color: #FFFFFF;
  padding-top: 25px;
}

.marina-w-laptop .pink-bg .mandala {
  position: absolute;
  top: calc(50% - 150px);
  right: -10px;
  width: 160px;
  height: 300px;
  background: url(./../img/block-1-mandala-1.svg);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
  background-position: right;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.marina-w-laptop .img-marina {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 490px;
  height: 400px;
  background: url(./../img/marina-with-laptop.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: bottom left;
  z-index: 20;
}

.marina-w-laptop .purple-oval {
  position: absolute;
  bottom: 55px;
  left: 0px;
  width: 206px;
  height: 230px;
  background: url(./../img/purple-oval.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  z-index: 10;
}

.author {
  padding-top: 110px;
  padding-bottom: 60px;
}

.author .author-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #18191F;
  padding-bottom: 28px;
}

.author .author-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.author .author-row {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.author .author-row .author-col {
  max-width: 45%;
  width: 400px;
}

.author .author-row .author-col .picture-wrapper {
  width: 97px;
  height: 97px;
  background: url(./../img/icon-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.author .author-row .author-col .picture-wrapper .icon {
  width: 54px;
  height: 54px;
}

.author .author-row .author-col .picture-wrapper .icon.icon-lotus {
  background: url(./../img/icon-lotus.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.author .author-row .author-col .picture-wrapper .icon.icon-meditation {
  background: url(./../img/icon-meditation.svg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.author .author-row .author-col .description {
  padding-top: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.author .btn-wrapper {
  padding-top: 30px;
  max-width: 395px;
  margin: auto;
}

.about-marina {
  padding-top: 100px;
  background: url(./../img/about-marina-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.about-marina .about-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #18191F;
  padding-bottom: 25px;
}

.about-marina .about-header .pink-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#C45ED3), to(#FBA2B8));
  background: -webkit-linear-gradient(#C45ED3, #FBA2B8);
  background: -o-linear-gradient(#C45ED3, #FBA2B8);
  background: linear-gradient(#C45ED3, #FBA2B8);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-marina .under-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  padding-bottom: 45px;
}

.about-marina .about-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-marina .about-row .picture-col {
  width: 40%;
}

.about-marina .about-row .picture-col .picture-wrapper {
  width: 100%;
}

.about-marina .about-row .picture-col .picture-wrapper img {
  width: 100%;
}

.about-marina .about-row .picture-col .companies-wrapper {
  padding-top: 55px;
}

.about-marina .about-row .picture-col .companies-wrapper .companies-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #000000;
  padding-bottom: 25px;
}

.about-marina .about-row .picture-col .companies-wrapper .companies-list .row-33 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.about-marina .about-row .picture-col .companies-wrapper .companies-list .row-33 .company-item {
  width: calc(33% - 36px);
}

.about-marina .about-row .picture-col .companies-wrapper .companies-list .row-33 .company-item img {
  width: 100%;
}

.about-marina .about-row .picture-col .companies-wrapper .companies-list .row-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.about-marina .about-row .picture-col .companies-wrapper .companies-list .row-25 .company-item {
  width: calc(33% - 40.5px);
}

.about-marina .about-row .picture-col .companies-wrapper .companies-list .row-25 .company-item img {
  max-width: 100%;
}

.about-marina .about-row .text-col {
  width: 60%;
  padding-left: 25px;
  font-family: "Montserrat";
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.about-marina .about-row .text-col p {
  padding-bottom: 15px;
}

.about-marina .about-purple-oval {
  position: absolute;
  background: url(./../img/about-marina-bg-pink.svg);
  background-position: left;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  width: 355px;
  height: 520px;
  left: 0px;
  top: 305px;
}

.help-you-block {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.help-you-block .help-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #000000;
  padding-bottom: 60px;
}

.help-you-block .help-lists {
  padding-left: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.help-you-block .help-lists .help-item {
  width: 50%;
  max-width: 460px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.help-you-block .help-lists .help-item .item-icon {
  width: 36px;
  height: 36px;
  min-width: 36px;
}

.help-you-block .help-lists .help-item .item-icon.icon-hands {
  background: url("./../img/help-icon-hands.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.help-you-block .help-lists .help-item .item-icon.icon-lotus-position {
  background: url("./../img/help-icon-lotus-position.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.help-you-block .help-lists .help-item .item-icon.icon-karma {
  background: url("./../img/help-icon-karma.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.help-you-block .help-lists .help-item .item-icon.icon-calendar {
  background: url("./../img/help-icon-calendar.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.help-you-block .help-lists .help-item .item-icon.icon-heart {
  background: url("./../img/help-icon-heart.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.help-you-block .help-lists .help-item .item-icon.icon-creativity {
  background: url("./../img/help-icon-creativity.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.help-you-block .help-lists .help-item .item-icon.icon-road {
  background: url("./../img/help-icon-road.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.help-you-block .help-lists .help-item .item-icon.icon-arrows {
  background: url("./../img/help-icon-arrows.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.help-you-block .help-lists .help-item .item-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding-left: 30px;
}

.help-you-block .bg-flower-1 {
  position: absolute;
  left: 0px;
  top: -14px;
  width: 260px;
  height: 310px;
  background: url(./../img/help-flower-1.svg);
  background-position: left;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.help-you-block .bg-flower-2 {
  position: absolute;
  left: 0px;
  top: 170px;
  width: 105px;
  height: 163px;
  background: url(./../img/help-flower-2.svg);
  background-position: left;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.help-you-block .bg-flower-3 {
  position: absolute;
  right: 0px;
  top: 120px;
  width: 260px;
  height: 500px;
  background: url(./../img/help-flower-3.svg);
  background-position: right;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.help-you-block .bg-flower-4 {
  position: absolute;
  right: 0px;
  top: 400px;
  width: 115px;
  height: 110px;
  background: url(./../img/help-flower-4.svg);
  background-position: right;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}

.checked-list {
  padding-left: 40px;
}

.checked-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 12px;
}

.checked-list li::before {
  content: " ";
  width: 32px;
  min-width: 32px;
  height: 32px;
  background: url(./../img/checked-list.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  margin-right: 16px;
}

.checked-list li span {
  display: contents;
}

.flowers-list {
  padding-bottom: 25px;
}

.flowers-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 10px;
}

.flowers-list li::before {
  content: " ";
  width: 18px;
  min-width: 18px;
  height: 16px;
  background: url(./../img/flower-list-icon.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  margin-right: 7px;
}

.flowers-list li span {
  display: contents;
}

.italic-text {
  font-style: italic;
}

.btn-default {
  outline: none;
  text-decoration: none;
  background: -webkit-linear-gradient(0.22deg, #C45ED3 0.18%, #FBA2B8 99.86%);
  background: -o-linear-gradient(0.22deg, #C45ED3 0.18%, #FBA2B8 99.86%);
  background: linear-gradient(89.78deg, #C45ED3 0.18%, #FBA2B8 99.86%);
  border-radius: 4px;
  padding: 20px 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
  border: none;
  cursor: pointer;
}

.violet-text {
  color: #c45ed3;
}

.pink-text {
  color: #fba2b8;
}

.bold {
  font-weight: 700;
}

.section-wrapper {
  padding-left: 135px;
  padding-right: 150px;
  max-width: 1440px;
  margin: auto;
  position: relative;
  z-index: 20;
}

@media screen and (min-width: 1500px) {
  .promo .mandala {
    width: 280px;
    height: 490px;
  }
  .promo .flower {
    bottom: -130px;
    left: 33%;
  }
}

@media screen and (max-width: 1350px) {
  .marina-w-laptop .pink-bg .mandala {
    width: 120px;
  }
  .marina-w-laptop .pink-bg .pink-bg-content .quote-content {
    padding-bottom: 20px;
  }
  .marina-w-laptop .pink-bg .pink-bg-content .quote-content::after {
    right: -40px;
    bottom: -20px;
  }
  .marina-w-laptop .section-wrapper {
    padding-left: 250px;
    padding-right: 135px;
  }
  .marina-w-laptop .pink-bg {
    padding-right: 150px;
    padding-left: 200px;
  }
  .marina-w-laptop .img-marina {
    width: 440px;
    height: 380px;
  }
}

@media screen and (max-width: 1200px) {
  .help-you-block .bg-flower-1 {
    top: -14px;
    width: 200px;
    height: 250px;
  }
  .help-you-block .bg-flower-2 {
    top: 120px;
    width: 80px;
    height: 163px;
  }
  .help-you-block .bg-flower-3 {
    top: 120px;
    width: 200px;
    height: 450px;
  }
  .help-you-block .bg-flower-4 {
    top: 390px;
    width: 90px;
    height: 90px;
  }
  .help-you-block .help-lists {
    padding-left: 0px;
    padding-right: 0px;
  }
  .flowers-list {
    padding-bottom: 15px;
  }
  .about-marina .about-row .text-col {
    font-size: 16px;
    line-height: 20px;
  }
  .section-wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  .marina-w-laptop .section-wrapper {
    padding-left: 170px;
    padding-right: 60px;
  }
  .marina-w-laptop .pink-bg {
    padding-right: 130px;
    padding-left: 230px;
  }
  .marina-w-laptop .img-marina {
    width: 400px;
    height: 350px;
  }
  .promo .section-wrapper .logo {
    right: 60px;
  }
  .promo .flex-row .info-col .promo-header {
    font-size: 32px;
    line-height: 36px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 992px) {
  .help-you-block .help-header {
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 45px;
  }
  .help-you-block .bg-flower-1 {
    top: -24px;
    width: 180px;
    height: 220px;
  }
  .help-you-block .bg-flower-2 {
    top: 100px;
    width: 70px;
    height: 123px;
  }
  .help-you-block .help-lists .help-item .item-text {
    font-size: 16px;
    line-height: 18px;
    padding-left: 15px;
  }
  .about-marina .about-header {
    font-size: 32px;
    line-height: 38px;
  }
  .about-marina .under-header {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 35px;
  }
  .about-marina .about-row .text-col {
    padding-left: 15px;
    font-size: 14px;
    line-height: 18px;
  }
  .about-marina .about-row .text-col p {
    padding-bottom: 10px;
  }
  .flowers-list {
    padding-bottom: 10px;
  }
  .marina-w-laptop .pink-bg .pink-bg-content .quote-content::after {
    width: 25px;
    height: 25px;
    right: -25px;
    bottom: -20px;
  }
  .marina-w-laptop .pink-bg .pink-bg-content .quote-content::before {
    width: 25px;
    height: 25px;
    left: -35px;
    top: -20px;
  }
  .author .author-header {
    font-size: 38px;
    line-height: 42px;
  }
  .marina-w-laptop .section-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
  .marina-w-laptop .pink-bg {
    padding-right: 80px;
    padding-left: 340px;
    border-radius: 0px;
  }
  .marina-w-laptop .pink-bg .pink-bg-content {
    font-size: 16px;
    line-height: 22px;
  }
  .marina-w-laptop .img-marina {
    width: 340px;
    height: 300px;
  }
  .marina-w-laptop .pink-bg .mandala {
    right: -80px;
    width: 140px;
  }
  .marina-w-laptop .purple-oval {
    display: none;
  }
  .what-separated .what-separated-list .item {
    width: 33.3%;
    min-width: 33.3%;
  }
  .life .life-header {
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 40px;
  }
  .life .section-wrapper {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .life .info-row .info-col,
  .life .info-row .picture-col {
    width: 50%;
  }
  .checked-list {
    padding-left: 15px;
  }
  .life .info-row .info-col p {
    padding-bottom: 20px;
  }
  .life .info-row .info-col {
    font-size: 16px;
    line-height: 18px;
    padding-right: 15px;
  }
  .checked-list li::before {
    margin-right: 10px;
  }
  .section-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
  .promo .section-wrapper .logo {
    right: 40px;
  }
  .promo .flex-row .info-col .event-info {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 40px;
  }
  .promo .flex-row .info-col .small-bold-text {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 15px;
  }
  .promo .flex-row .info-col .small-text {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 15px;
  }
  .promo .flex-row .form-wrapper {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .promo .flex-row .form-wrapper .form-text {
    padding-bottom: 15px;
  }
  .promo .flex-row .form-wrapper .form-text p {
    font-size: 14px;
    line-height: 18px;
  }
  .promo .flex-row .form-col {
    width: 450px;
    min-width: 450px;
  }
  .promo .flex-row .form-wrapper .book-marina {
    left: -32px;
    height: 190px;
    width: 170px;
  }
  .promo .flex-row .form-wrapper .timer {
    right: 20px;
    bottom: 40px;
  }
}

@media screen and (max-width: 850px) {
  .promo .flex-row .form-col {
    width: 400px;
    min-width: 400px;
  }
  .promo .flex-row .form-wrapper .book-marina {
    left: -35px;
    height: 140px;
    width: 150px;
  }
  .promo .flex-row .form-wrapper .timer {
    right: 20px;
    bottom: 40px;
    width: 255px;
    padding: 15px 20px;
  }
  .promo .flex-row .form-wrapper .btn-wrapper {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  .help-you-block .help-lists .help-item .item-icon {
    width: 30px;
    height: 30px;
    min-height: 30px;
  }
  .help-you-block .help-lists .help-item .item-text {
    font-size: 12px;
    line-height: 16px;
    padding-left: 8px;
  }
  .help-you-block .help-lists .help-item {
    padding-left: 0px;
    padding-right: 0px;
    max-width: calc(50% - 5px);
  }
  .help-you-block .help-lists .help-item .item-text {
    font-size: 14px;
    line-height: 16px;
  }
  .help-you-block .help-lists .help-item {
    padding-bottom: 20px;
  }
  .help-you-block {
    padding-bottom: 50px;
    padding-top: 40px;
  }
  .help-you-block .bg-flower-3 {
    top: 80px;
    width: 150px;
    height: 300px;
  }
  .help-you-block .bg-flower-4 {
    top: 240px;
    width: 50px;
    height: 50px;
  }
  .about-marina {
    padding-top: 80px;
  }
  .about-marina .about-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-marina .about-row .text-col {
    width: 100%;
    padding-left: 0px;
  }
  .about-marina .about-row .picture-col {
    width: 100%;
    padding-top: 25px;
    max-width: 400px;
    margin: auto;
  }
  .about-marina .about-purple-oval {
    top: 850px;
  }
  .marina-w-laptop .pink-bg .pink-bg-content .marina-author {
    font-size: 14px;
    line-height: 16px;
  }
  .author {
    padding-top: 60px;
  }
  .author .author-header {
    font-size: 24px;
    line-height: 28px;
  }
  .author .author-text {
    font-size: 14px;
    line-height: 16px;
  }
  .author .author-row .author-col .description {
    font-size: 14px;
    line-height: 16px;
  }
  .marina-w-laptop .pink-bg {
    padding-right: 60px;
    padding-left: 250px;
    border-radius: 0px;
  }
  .marina-w-laptop .pink-bg .pink-bg-content {
    font-size: 14px;
    line-height: 18px;
  }
  .marina-w-laptop .img-marina {
    width: 250px;
    height: 280px;
  }
  .marina-w-laptop .pink-bg .mandala {
    right: -100px;
  }
  .what-separated .mandala-1,
  .what-separated .mandala-2 {
    display: none;
  }
  .what-separated .what-separated-list .item {
    width: 50%;
    min-width: 50%;
  }
  .what-separated .what-separated-header {
    font-size: 32px;
    line-height: 36px;
    padding-bottom: 35px;
  }
  .life .info-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .life .info-row .info-col {
    width: 100%;
  }
  .life .info-row .picture-col {
    width: 100%;
  }
  .life .info-row .picture-col img {
    width: 100%;
  }
  .life .life-bg-1 {
    top: 80px;
    bottom: auto;
  }
  .life .life-header {
    font-size: 18px;
    line-height: 22px;
  }
  .life .info-row .info-col {
    font-size: 14px;
    line-height: 16px;
  }
  .promo {
    padding-top: 0px;
  }
  .promo .flex-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .promo .flex-row .info-col {
    width: 100%;
    padding-bottom: 40px;
  }
  .promo .flex-row .form-col {
    width: auto;
    padding-left: 0px;
  }
  .promo .flex-row .form-wrapper .book-marina {
    left: -32px;
    height: 210px;
    width: 180px;
  }
  .promo .flex-row .form-wrapper .btn-wrapper {
    padding-bottom: 45px;
  }
  .promo .flex-row .form-wrapper .timer {
    right: 50px;
    bottom: 50px;
    width: 278px;
  }
  .promo .section-wrapper {
    padding-top: 60px;
  }
  .section-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .life .life-flower-2 {
    bottom: 70px;
  }
  .life .life-flower-1 {
    bottom: 0px;
  }
}

@media screen and (max-width: 500px) {
  .about-marina .about-purple-oval {
    display: none;
  }
  .help-you-block .help-lists .help-item .item-text {
    padding-left: 10px;
  }
  .help-you-block .help-lists .help-item {
    width: 100%;
    max-width: 100%;
  }
  .help-you-block .help-header {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 25px;
  }
  .help-you-block .bg-flower-2 {
    display: none;
  }
  .help-you-block .bg-flower-1 {
    left: -55px;
  }
  .about-marina .about-header {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 15px;
  }
  .about-marina .under-header {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 25px;
  }
  .marina-w-laptop .pink-bg .pink-bg-content .quote-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  .marina-w-laptop .pink-bg .pink-bg-content .quote-content::before {
    width: 20px;
    height: 20px;
    top: -10px;
    left: -10px;
  }
  .marina-w-laptop .pink-bg .pink-bg-content .quote-content::after {
    width: 20px;
    height: 20px;
    bottom: -10px;
    right: -5px;
  }
  .what-separated .what-separated-list .item .detail {
    font-size: 14px;
  }
  .marina-w-laptop .pink-bg {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 350px;
  }
  .marina-w-laptop .pink-bg .pink-bg-content {
    font-size: 14px;
    line-height: 18px;
  }
  .marina-w-laptop .img-marina {
    width: 100%;
    height: 350px;
  }
  .marina-w-laptop .pink-bg .mandala {
    display: none;
  }
  .what-separated .what-separated-list .item {
    padding-left: 0px;
    padding-right: 0px;
  }
  .what-separated .what-separated-list .item:nth-child(2n + 1) {
    padding-right: 5px;
  }
  .what-separated .what-separated-list .item:nth-child(2n) {
    padding-left: 5px;
  }
  .checked-list {
    padding-left: 0px;
  }
  .checked-list li::before {
    width: 25px;
    height: 25px;
  }
  .life .life-flower-2 {
    bottom: 100px;
    width: 126px;
    height: 168px;
  }
  .life .life-flower-1 {
    bottom: 40px;
    width: 51px;
    height: 108px;
  }
  .promo .flex-row .form-col .mandala-form-1 {
    display: none;
  }
  .promo .flex-row .form-wrapper .thank-you-text .thank-you-header {
    font-size: 24px;
    line-height: 28px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .section-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .promo .flex-row .form-col {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .promo .flex-row .form-wrapper .form-group .input-text,
  .promo .flex-row .form-wrapper .btn-submit {
    width: 100%;
  }
  .promo .flex-row .form-wrapper .book-marina {
    left: -32px;
    height: 150px;
    width: 161px;
  }
  .promo .flex-row .form-wrapper .timer {
    right: 20px;
    bottom: 40px;
    width: 255px;
    padding: 15px 20px;
  }
  .promo .flex-row .form-wrapper .btn-wrapper {
    padding-bottom: 25px;
  }
  .promo .flex-row .info-col .promo-header {
    font-size: 24px;
    line-height: 28px;
  }
  .promo .flex-row .info-col .promo-btn .btn-row .btn-text {
    font-size: 14px;
    line-height: 16px;
  }
  .promo .flex-row .info-col .promo-btn {
    padding: 10px 15px;
  }
  .promo .flex-row .form-wrapper .btn-submit {
    padding: 10px;
  }
  .promo .flex-row .form-wrapper .thank-you-text {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 400px) {
  .author .author-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .author .author-row .author-col {
    width: 100%;
    max-width: 100%;
    padding-bottom: 15px;
  }
  .what-separated .what-separated-list .item .detail {
    font-size: 12px;
    line-height: 18px;
  }
  .promo .flex-row .form-wrapper .thank-you-hidden-text {
    max-width: 100%;
  }
  .promo .flex-row .form-wrapper .timer {
    width: 210px;
    bottom: 35px;
    right: 30px;
    padding: 10px 15px;
  }
  .promo .flex-row .form-wrapper .timer .item .value,
  .promo .flex-row .form-wrapper .timer .item .dotted {
    font-size: 32px;
  }
  .promo .flex-row .form-wrapper .timer .item .label {
    font-size: 10px;
    padding-top: 5px;
  }
}

@media screen and (max-width: 350px) {
  .marina-w-laptop .pink-bg {
    padding-bottom: 300px;
  }
  .promo .flex-row .form-wrapper .timer {
    width: 180px;
    bottom: 35px;
    right: 8px;
    padding: 5px 15px;
  }
  .promo .flex-row .form-wrapper .timer .item .value,
  .promo .flex-row .form-wrapper .timer .item .dotted {
    font-size: 24px;
  }
  .promo .flex-row .form-wrapper .timer .item .value {
    width: 40px;
  }
}
